.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3rem;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .logo {
    height: 2.5rem;
  }
}

.account span {
  display: inline-block;
  background: linear-gradient(106.16deg, var(--color-highlight) 23.99%, var(--color-dark) 135.44%);
  color: var(--color-white);
  border-radius: 30px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.account i {
  margin-left: 1rem;
  color: var(--color-white);
  background: linear-gradient(106.16deg, var(--color-highlight) 23.99%, var(--color-dark) 135.44%);
  border-radius: 30px;
  padding: 0.5rem;
}
