:root {
  --font-normal: 16px;
  --font-label: 14px;
  --color-black: black;
  --color-white: white;
  --color-dark: rgba(0, 0, 0, 0.85);
  --color-light: #e6f7ff;
  --color-green: #52c41a;
  --color-blue: #1890ff;
  --color-blue1: #69c0ff;
  --color-blue2: #bae7ff;
  --color-cyan: #91d5ff;
  --padding-wide: 36px;
  --padding-normal: 24px;
  --padding-narrow: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  font-size: var(--font-normal);
  line-height: 1.5;
  color: var(--color-black);
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin-top: 0;
  margin-bottom: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
button,
.cursor {
  cursor: pointer;
  user-select: none;
}
button {
  border: none;
}
